* {
	padding: 0px;
	margin: 0px;
}
#app {
    background-color: #fff;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
header {
    background-color: #c9c9c9;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 5px 10px;
}
main {
    padding: 10px;
}
footer {
    background-color: #c6c6c6;
    text-align: center;
    padding: 5px 10px;
}

/* Utilities */
.hidden {
    display: none;
}

/* Content */
.add-card-form {
    display: flex;
    flex-direction: row nowrap;
    margin-bottom: 10px;
    justify-content: space-between;
    gap: 5px;
}
.add-card-form__text {
    width: 100%;
    padding: 0 5px;
}
.add-card-form__btn {
    padding: 5px 10px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.card {
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #c3c3c3;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    position: relative;
}
.card__remove {
    position: absolute;
    top: 2px;
    right: 5px;
}

.login-area__form {
    position: absolute;
    top: 35px;
    right: 5px;
    width: 200px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgb(102, 102, 102);
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;;
}
.login-area__form input {
    height: 25px;
    padding: 0 5px;
}
