#app {
    background-color: #fff;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
header {
    background-color: #c9c9c9;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.content {
    padding: 10px 0;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.card {
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #c3c3c3;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
footer {
    background-color: #c6c6c6;
    text-align: center;
}
